@import "../../../App.scss";

.container {
  width: auto;
  margin: 0 auto;
}

/* Breakpoints */
@media (max-width: #{$grid-breakpoints-md}){
  .container {
    width: auto;
    margin: 0 12px;
  }
}
@media (min-width: $grid-breakpoints-md){
  .container {
    width: $grid-breakpoints-sm;
  }
}
@media (min-width: $grid-breakpoints-lg){
  .container {
    width: $grid-breakpoints-md;
  }
}
@media (min-width: $grid-breakpoints-xl) {
  .container {
    width: $grid-breakpoints-lg;
  }
}
@media (min-width: $grid-breakpoints-xxl) {
  .container {
    width: $grid-breakpoints-xl;
  }
}