@import "../../../App.scss";

.progress {
  width: 100%;
}

.progress-background {
  height: 20px;
  width: 100%;
  fill: $color-highlight1;
}

.progress-bar {
  height: 20px;
  fill: $color-primary2;
}

.progress-tick {
  height: 20px;
  stroke-width: 5px;
  stroke: white;
}

.progress-tick-label {
  fill: black;
  text-anchor: middle;
}