@import "../../../App.scss";

.progress {
  width: 100%;
}

.progress-background {
  fill: $color-highlight1;
}

.progress-bar {
  fill: $color-primary2;
}

.progress-tick {
  stroke-width: 5px;
  stroke: white;
}

.progress-tick-label {
  fill: black;
  text-anchor: middle;
}

.text-anchor-start {
  text-anchor: start;
}

.text-anchor-end {
  text-anchor: end;
}