@import "../../App.scss";

.main {
  background-image: url("../../../public/tiles.png");
  background-repeat: repeat;
}

.error {
  padding: 50px 0;
  font-size: 20px;
  text-align: center;
}