.report {
  width: 100%;
}

.report-title {
  width: 100%;
  text-align: center;
}

.date-range {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.msgstats-charts {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.chart-container {
  margin: 20px auto;
}

.chart-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.wordfreq-tables-container {
  justify-content: center;
}

.wordfreq-tables {
  display: flex;
  flex-flow: row wrap;
}

.wordfreq-table {
  margin: 20px auto;
  .wordfreq-table-user {
    font-weight: bold;
  }
}