@import "../../App.scss";

.start-section {
  min-height: calc(100vh - 90px);
  padding: 20px 0px;
}

.start-container {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 0px 0px $color-shadow;
}

.step-title {
  width: 100%;
  font-size: 30px;
  margin: 20px 0 10px 0;
}

.step-subtitle {
  width: 100%;
  font-size: 18px;
  margin: 10px 0 50px 0;
}

.step-content {
  width: 100%;
}

.app-selection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.step-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 10px;
}