/* Colors */
$color-primary1: #300B96;
$color-primary2: #7349F0;
$color-secondary1: #FF782A;
$color-secondary2: #FFCE2D;
$color-highlight1: #EDEDED;
$color-highlight2: #333333;
$color-shadow: #00000030;
$color-transparent: #FFFFFF00;
$color-error: #F02020;

/* Breakpoints */
$grid-breakpoints-xxs: 0px;
$grid-breakpoints-xs: 375px;
$grid-breakpoints-sm: 544px;
$grid-breakpoints-md: 768px;
$grid-breakpoints-lg: 992px;
$grid-breakpoints-xl: 1200px;
$grid-breakpoints-xxl: 1400px;

/* Mixins */
@mixin transition-default($prop) {
  transition: $prop 0.15s;
  transition-timing-function: ease-in-out;
}

@mixin link-highlight {
  color: $color-highlight2;
  @include transition-default(color);
  &:hover, &:focus {
    color: $color-primary2;
  }
}

@mixin light-shadow {
  box-shadow: 0 0 5px 0px $color-shadow;
}

@mixin scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  scroll-padding-top: 60px;
  scroll-behavior: smooth;
}